---
// import { fetchSanityData } from "../../lib/api";
// ---

// <main>
//   <h1>Sanity Data Example</h1>
//   <ul>
//     {#each (await fetchSanityData()) as project}
//       <li>
//         <h2>{project.title}</h2>
//         <p>{project.body}</p>
//       </li>
//       {console.log(project)} <!-- Add this line -->
//     {/each}
//   </ul>
// </main>
